/* *BURGER MENU - small -medium only */

div.bm-overlay[class] {
  top: 0;
  background: transparent !important;
}

.bm-menu-wrap {
  top: 0;
}

.bm-menu {
  height: 100%;
  margin: 1rem 0.5rem;
  overflow: unset !important;
}

.bm-morph-shape {
  fill: var(--menuBackgroundColor);
}

.bm-cross-button {
  background: var(--menuButtonCloseBackgroundColor);
  border-radius: 25%;
}

.bm-cross {
  background: var(--menuButtonCloseColor);
}

.bm-burger-bars {
  background: var(--menuButtonBurgerColor);
}

.bm-burger-button {
  --buttonWidth: 1rem;
  --buttonHeight: 1rem;
  position: fixed;
  right: 2rem;
  top: calc((var(--headerHeight) - var(--buttonHeight)) / 2);
  width: var(--buttonWidth);
  height: var(--buttonHeight);
}

.bm-menu-wrap ul {
  list-style: none;
}

/* Links */

.bm-item {
  margin-bottom: 1rem;
}

.c-menu_link {
  text-decoration: none;
  color: var(--menuTextColor);
}

.c-menu__socials {
  display: flex !important;
  justify-content: space-between;
  margin-top: 1rem;
}

.c-menu {
  font-size: 1.25rem;
  color: var(--menuTextColor);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.c-menu-opened::after {
  content: url('../../images/dust4.png');
  position: relative;
  top: -6rem;
  left: -17rem;
  z-index: -1;
  animation: fadeIn 0.4s ease-out;
}

.c-menu__area-clickToClose {
  position: absolute;
  top: -1rem;
  right: 100%;
  height: 100vh;
  width: 100vw;
  background: transparent;
}

.c-menu__area-clickToClose:focus {
  outline: none;
}

.c-menu-logo {
  width: 70%;
  margin-bottom: 1rem;
}

.c-menu_link_active_path {
  padding: 0.25rem;
  background: var(--menuActiveLinkBackgroundColor);
  border-radius: var(--buttonBorderRadius);
  color: var(--menuActiveLinkColor);
}

.c-resume-button--menu {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-left: 1.45rem;
  background: var(--menuButtonDownloadBackgroundColor);
  text-decoration: none;
  text-align: center;
  color: var(--menuButtonDownloadTextColor);
  font-family: var(--font-content);
}

ul.bm-item:focus {
  outline: none;
}

@media screen and (min-width: 601px) {
  .bm-burger-button {
    display: none;
  }

  /* HACK target div wrappingmenu*/
  .c-header__links + div {
    display: none;
  }
}
