/* *BURGER MENU - small -medium only */

div.bm-overlay[class] {
    background: transparent !important;
    top: 0px;
}

.bm-menu-wrap {
    /* background: var(--menuBackgroundColor); */
    top: 0px;
    /* width: 250px !important; */
}

.bm-menu {
    margin: 1rem .5rem;
    overflow: unset !important;
    height: 100%;
}

.bm-item-list {
    /* margin-top:1rem; */
}

.bm-morph-shape {
    fill: var(--menuBackgroundColor);
}

.bm-cross {
    background: var(--menuButtonCloseColor);
}

.bm-burger-bars {
    background: var(--menuButtonBurgerColor);
}

.bm-burger-button {
    position: fixed;
    width: 15px;
    height: 15px;
    right: 36px;
    top: calc(var(--headerHeight)/2 - 7.5px);
}

.bm-menu-wrap ul {
    list-style: none;
}

.c-menu_link {
    text-decoration: none;
    color: var(--menuTextColor);
}

.c-menu {
    font-size: 1rem;
    color: var(--menuTextColor);
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.c-menu-openned::after {
    content: url('../../images/dust4.png');
    position: relative;
    top: -6rem;
    left: -17rem;
    z-index: -1;
    animation: fadeIn .4s ease-out;
}



.c-menu-logo {
    margin-bottom: 1rem;
}

.c-menu_link_active_path {
    color: var(--menuActiveLinkColor);
}


/*BURGER Menu*/


/* .bm-burger-button {
    position: fixed;
    width: 15px;
    height: 15px;
    left: 36px;
    top: calc(var(--headerHeight)/2 - 7.5px); 
} */

/* .bm-burger-button:after {
    content: "";
    width: 2rem;
    height: 2rem;
    background: var(--color-active);
    top: -8px;
    left: -9px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
} */
/* Position and sizing of clickable cross button */
/* .bm-cross-button {
    height: 2rem;
    width: 2rem;
} */

/* Color/shape of close button cross */
/* .bm-cross {
    background: var(--button-close-color);
} */

/* General sidebar styles */
/* .bm-menu[class] {
    padding: 0 0 0 .5rem;
    font-size: 1.15em;
    overflow: unset !important;
    height: 100%;

} */


/*****/




@media screen and (max-width:1024px) {}

@media screen and (min-width:601px) {
    .bm-burger-button {
        display: none;
    }

    /* HACK target div wrappingmenu*/
    .c-header__links + div {
        display: none;
    }
}