.c-jobs,
.c-missions,
.c-skills {
  list-style: none;
}

.c-jobs,
.c-educations {
  margin: 0;
}

.c-job {
  padding: 1rem 0;
}

.c-resume__item__title {
  margin-right: 0.5rem;
  color: var(--resumeItemTitleColorText);
  text-shadow: var(--resumeItemTitleTextShadow);
}

.c-missions {
  margin-left: 1rem;
  white-space: pre-wrap;
}

.c-mission:before {
  content: url('../../images/bullet-explosion.png');
  margin-right: 0.6rem;
}

.c-skills {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.c-skills__title {
  margin-top: 1rem;
}

.c-skill {
  margin: 0.35rem;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  white-space: nowrap;
  background: var(--skillBackground);
  color: var(--color-text-on-dark);
}

.c-skill:last-child {
  margin-bottom: auto;
}

.c-languages {
  display: flex;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.c-language {
  width: 2rem;
  margin-right: 0.5rem;
}

.c-educations {
  text-decoration: none;
  list-style: none;
}

.c-resume-section--button {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.c-resume-button {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 2rem 0;
  background: var(--resumeButtonDownloadBackgroundColor);
  color: var(--resumeButtonDownloadTextColor);
  text-decoration: none;
  text-align: center;
}

.c-resume-scrollable {
  position: relative;
}

.c-pannel-scoll {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: fixed;
  right: 0;
  max-width: 50%;
  padding: 1rem;
  background: var(--pannelScrollBackground);
  border-radius: var(--buttonBorderRadius);
  box-shadow: var(--elevation-16);
  font-size: 1rem;
}

.c-pannel-scroll__link {
  color: var(--pannelScrollLink);
}

.c-pannel-scroll__link--active {
  color: var(--pannelScrollLinkActive);
}

.c-resume__download-link {
  margin-left: 0.5rem;
}
