.c-jobs,.c-missions,.c-skills {
    list-style: none;
}
.c-jobs, .c-educations {
    margin: 0;
}
.c-job {
    padding:  1rem 0;
}

.c-resume__item__title {
    margin-right: .5rem;
    color: var(--resumeItemTitleColorText);
    text-shadow: var(--resumeItemTitleTextShadow);
}

.c-missions {
    margin-left: 1rem;
}

.c-mission:before {
    content: url("../../images/bullet-explosion.png"); 
    margin-right: .6rem;
}

.c-skills {
    display: flex;
    flex-wrap: wrap;
    margin:0;
}

.c-skills__title {
    margin-top: 1rem;
}

.c-skill{
    background: var(--skillBackground);
    color:var(--color-text-on-dark);
    padding: .5rem 1rem;
    border-radius: 2px;
    margin: .35rem;
} 

.c-skill:last-child {
    margin-bottom: auto;
}

.c-languages {
    display: flex;
    margin: 0;
    text-decoration:none;
    list-style:none;
}

.c-language {
    margin-right: .5rem;
    width: 2rem;
}

.c-educations {
    text-decoration:none;
    list-style:none;
}

.c-resume-section--button {
    display:flex;
    justify-content:center;
    margin: 5rem 0;
}
.c-resume-button {
    padding:1rem;
    background: var(--resumeButtonDownloadBackgroundColor);
    color:var(--resumeButtonDownloadTextColor);
    display: flex;
    text-decoration:none;
    text-align: center;
    justify-content: center;
    margin: 2rem 0;
}


.c-resume-scrollable {
    position: relative;

}
.c-pannel-scoll {
    background: var(--pannelScrollBackground);
    border-radius: var(--buttonBorderRadius);
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    max-width:50%;
    font-size: 1rem; 
    padding: 1rem;
    right:0;
    position: fixed;
}

.c-pannel-scroll__link {
    color: var(--pannelScrollLink);
}

.c-pannel-scroll__link--active {
    color: var(--pannelScrollLinkActive);
}
.c-resume__download-link {
    margin-left: .5rem;
}
