.c-jobs,.c-missions,.c-skills {
    list-style: none;
}
.c-jobs {
    margin: 0;
}
.c-job {
    padding:  1rem 0;
}

.c-job__year {
    margin-right: .5rem;
}

.c-missions {
    margin-left: 1rem;
}

.c-mission:before {
    content: "•"; 
    color: rgb(81, 159, 148);
    margin-right: .6rem;
}

.c-skills {
    display: flex;
    flex-wrap: wrap;
    margin:0;
}
.c-skill{
    background: var(--skillBackground);
    color:var(--color-text-on-dark);
    padding: .5rem 1rem;
    border-radius: 2px;
    margin: 1rem 1rem;
} 

.c-skill:last-child {
    margin-bottom: auto;
}

.c-languages {
    text-decoration:none;
    list-style:none;
}

.c-educations {
    text-decoration:none;
    list-style:none;
}

.c-resume-section--button {
    display:flex;
    justify-content:center;
    margin: 5rem 0;
}
/* .c-resume__subtitle {
    margin-left:1.5rem;
} */
.c-resume-button {
    padding:1rem;
    background:var(--hightlight-color);
    color:white;
    display: flex;
    width: 50%;
    text-decoration:none;
    text-align: center;
    justify-content: center;
    margin: 2rem 0;
}

.c-resume-button--fullWidth{
    padding:1rem;
    background:var(--hightlight-color);
    color:white;
    display: flex;
    margin-left: 1.45rem;

    text-decoration:none;
    text-align: center;
    justify-content: center;
 }
 @media only screen and (min-width: 600px) {
    .c-resume-button {
        width: 20%;
    }  
}
.c-resume-scrollable {
    position: relative;

}
.c-pannel-scoll {
    background: var(--pannelScrollBackground);
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    max-width:50%;
    font-size: 1rem; 
    padding: 1rem;
    right:0;
    position: fixed;
    /* bottom: var(--footerHeight); */
}

.c-pannel-scroll__link {
    color: var(--pannelScrollLink);
}

.c-pannel-scroll__link--active {
    color: var(--pannelScrollLinkActive);
}
.c-resume__download-link {
    margin-left: .5rem;
}
