:root {
    --primary-color: rgb(81, 159, 148);
    /*#519f94*/
    --primary-color-rgba: rgba(81, 159, 149, 0.872);
    --secondary-color: rgb(54, 87, 115);
    /*#365773*/
    --secondary-color-rgba: rgba(54, 87, 115,0.55);
    --hightlight-color: rgb(171, 66, 103);
    /*#ab4267*/
    --hightlight-color-rgba: rgba(171, 66, 103,0.32);
    --tercery-color: rgb(226, 188, 116);
    /*#e2bc74*/
    --tercery-color-rgba: rgba(226, 188, 116,0.55);
    /* --active-color:#d64d55;#e2bc74 */
    --active-color: #012e33;


    --color-text-on-dark: rgb(250, 250, 250);
    --color-text-on-light: var(--secondary-color);
    --linkActiveColor: var(--active-color);
    --linkActiveColorShadow: #04373c;
    --linkActiveColorBackground: var(--hightlight-color);
    --linkInlineBgLight: var(--hightlight-color);

    --logoWrittenColor: var(--color-text-on-dark);
    --logoWrittenShadow: #505a5a;

    --headerBackground: -webkit-linear-gradient(45deg, #365773 1%, #519f94 63%, #e2bc74 100%);
    --headerTextColor: var(--color-text-on-dark);
    --headerHeight: 6rem;
    --headerSocialColor: #406e6a;

    --footerBackground: -webkit-linear-gradient(45deg, #e2bc74 1%, #519f94 63%, #365773 100%);
    --footerTextColor: var(--color-text-on-dark);
    --footerSocialColor: var(--tercery-color);
    --footerHeight: 3rem;

    --titleTextColor: var(--hightlight-color);


    /* Menu */
    --menuWidth: 20%;
    /*fixed large*/
    --menuBackgroundColor: rgba(171, 66, 103,.9);
    --menuButtonCloseColor: var(--primary-color);
    --menuButtonBurgerColor: var(--hightlight-color);
    --menuTextColor: white;
    --menuActiveLinkColor: var(--tercery-color);
    --sectionHomeTitleTextColor: var(--hightlight-color);

    --skillBackground: var(--primary-color);
    --pannelScrollBackground: var(--primary-color);
    --pannelScrollLink: var(--color-text-on-dark);
    --pannelScrollLinkActive: var(--hightlight-color);
    
    --technologiesBackground: var(--secondary-color);
    --technologiesColorText: var(--color-text-on-dark);

    --contactIconColor: var(--primary-color);
    --contactLinkColor: var(--secondary-color);


    
    --aboutTitleColorText: var(--hightlight-color);
    --aboutSectionBackgroundColor: var(--tercery-color-rgba);
    --aboutSubtitleColorText: var(--primary-color);
    --aboutTitleBackgroundColor: var(--primary-color-rgba);
    --aboutPassionBackgroundColor: var(--hightlight-color-rgba);


    /* buttons */

    --buttonBorderRadius:3px;
}