:root {
  --primary-color: rgb(81, 159, 148);
  --primary-color-light: rgb(115, 188, 179);
  --primary-color-rgba-3: rgba(81, 159, 149, 0.3);
  --primary-color-rgba-8: rgba(81, 159, 149, 0.8);

  --secondary-color: rgba(1, 41, 60, 0.882);
  --secondary-color-rgba: rgba(54, 87, 115, 0.55);
  --color-dark-contrast: rgba(1, 41, 60, 0.884);

  /* Highlight */
  --highlight-color: rgb(171, 66, 103);
  --highlight-color-on-dark: rgb(237, 91, 144);
  --highlight-color-shadow: rgb(56, 31, 39);
  --highlight-color-rgba: rgba(171, 66, 103, 0.01);

  --tertiary-color: rgb(226, 188, 116);
  --tertiary-color-rgba: rgba(226, 188, 116, 0.55);
  --active-color: #012e33;

  --color-text-on-dark: rgb(250, 250, 250);
  --color-text-on-light: var(--color-dark-contrast);

  /* selection */
  --selected-background: rgba(1, 41, 60, 0.879);
  --selected-color: rgba(248, 248, 248);

  /* Fonts */

  --font-logo: 'Bubblegum Sans', serif;
  --font-title: 'Bubblegum Sans', serif;
  --font-subtitle-weight: 900;
  --font-subtitle: Lato, sans-serif;
  --font-content: Lato, sans-serif;

  /* elevations */
  /* from cheat sheet : https://codepen.io/topherlen/pen/rZGMpQ */
  --elevation-0: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);

  --elevation-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  --elevation-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  --elevation-3: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
    0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);

  --elevation-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  --elevation-6: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);

  --elevation-8: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

  --elevation-12: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);

  --elevation-16: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);

  --elevation-24: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

  /* buttons */
  --buttonBorderRadius: 3px;

  /* links */
  --linkInlineBgLight: var(--highlight-color);

  /* pages */
  --titleTextColor: var(--highlight-color);
  --titleTextColorShadow: var(--highlight-color-shadow);
  --sectionTitleTextColor: var(--color-text-on-dark);
  --sectionTitleBackgroundColor: var(--secondary-color);

  /* main */
  --mainPadding: 1rem;

  /* header */
  --headerHeight: 6rem;
  --headerBackground: -webkit-linear-gradient(
    45deg,
    rgba(1, 41, 60, 0.884) 1%,
    #519f94 63%,
    #e2bc74 100%
  );
  --headerTextColor: var(--color-dark-contrast);

  --logoWrittenColor: var(--color-text-on-dark);
  --logoWrittenShadow: #505a5a;

  --headerLinksBgColor: rgba(210, 144, 0, 0.05);
  --headerLinkShadowColor: rgba(1, 28, 46, 0.9);

  --headerLinkActiveColor: #fff;
  --headerLinkActiveShadowColor: #2e131c;
  --headerLinkActiveColorBackground: var(--highlight-color);

  --headerSocialColor: var(--color-dark-contrast);

  /* footer */
  --footerBackground: -webkit-linear-gradient(
    45deg,
    #e2bc74 1%,
    #519f94 63%,
    rgba(1, 41, 60, 0.884) 100%
  );
  --footerTextColor: var(--color-text-on-dark);
  --footerSocialColor: var(--color-text-on-dark);
  --footerHeight: 3rem;

  /* Menu */
  --menuWidth: 20%;
  /*fixed large*/
  --menuBackgroundColor: rgba(171, 66, 103, 0.9);
  --menuButtonCloseColor: var(--highlight-color);
  --menuButtonCloseBackgroundColor: #fff;
  --menuButtonBurgerColor: var(--highlight-color);
  --menuTextColor: #fff;

  --menuActiveLinkColor: var(--highlight-color);
  --menuActiveLinkBackgroundColor: #fff;

  --menuButtonDownloadBackgroundColor: var(--primary-color);
  --menuButtonDownloadTextColor: #fff;

  /* home -section */

  --sectionHomeBackgroundColor: -webkit-linear-gradient(
    10deg,
    rgba(60, 1, 38, 0.372) 0%,
    rgba(1, 59, 60, 0.44) 50%,
    rgba(1, 41, 60, 0.228) 100%
  );
  --sectionHomeBackgroundColorHover: -webkit-linear-gradient(
    45deg,
    rgba(1, 41, 60, 0.509) 0%,
    rgba(1, 59, 60, 0.616) 50%,
    rgba(60, 1, 38, 0.598) 100%
  );

  --sectionHomeTitleTextColor: var(--highlight-color-on-dark);
  --sectionHomeTitleTextColor: rgb(250, 250, 250);

  --sectionHomeContentTextColor: rgb(235, 235, 235);
  --sectionHomeContentBackground: rgba(38, 38, 38, 0.077);
  --sectionHomeContentTextShadowColor: rgb(255, 255, 255);

  /* Resume page */
  --skillBackground: var(--primary-color);
  /* --pannelScrollBackground: var(--color-dark-contrast); */
  --pannelScrollBackground: var(--secondary-color);
  --pannelScrollLink: var(--color-text-on-dark);
  --pannelScrollLinkActive: var(--highlight-color-on-dark);

  --resumeItemTitleColorText: var(--secondary-color);
  --resumeItemTitleTextShadow: 0.5px 0.5px var(--secondary-color);

  --technologiesBackground: var(--color-dark-contrast);
  --technologiesColorText: var(--color-text-on-dark);

  --resumeButtonDownloadBackgroundColor: var(--highlight-color);
  --resumeButtonDownloadTextColor: #fff;

  /* about page */

  --aboutPresentationBackgroundColor: rgba(171, 66, 103, 0.05);
  --aboutTitleColorText: var(--highlight-color);
  --aboutSectionBackgroundColor: var(--tertiary-color-rgba);
  --aboutSubtitleColorText: var(--primary-color);

  --aboutPassionBackgroundColor: var(--primary-color-rgba-3);
  --aboutPassionTextColor: var(--color-dark-contrast);

  /* Playground page */

  --playgroundProjectBackgroundColor: var(--primary-color-light);
  --playgroundProjectCardHeader: -webkit-linear-gradient(
    0deg,
    rgba(232, 217, 149, 0.249) 1%,
    var(--primary-color) 63%,
    rgba(1, 41, 60, 0.351) 100%
  );
  --playgroundProjectTitleTextColor: var(--color-text-on-light);
  --playgroundProjectTitleTextShadow: rgba(1, 41, 60, 0.51);
  --playgroundProjectIconLinkColor: var(--color-text-on-light);
  --playgroundProjectPurposeTextColor: var(--color-text-on-light);
}
