:root {
    --primary-color: rgb(81, 159, 148);/*#519f94*/
    --primary-color-rgba: rgba(81, 159, 149, 0.872);

    --secondary-color: rgba(1, 41, 60, 0.882);/*#01293ce1*/
    --secondary-color-rgba: rgba(54, 87, 115,0.55);
    --color-dark-contrast: rgba(1, 41, 60, 0.884); /*#01243c*/

    /* Hightlight */
    --highlight-color: rgb(171, 66, 103);/*#ab4267*/
    --highlight-color-on-dark: rgb(237, 91, 144);/*#ed5b90*/
    --highlight-color-shadow: rgb(56, 31, 39);/*#381f27*/
    --highlight-color-rgba: rgba(171, 66, 103,0.01);

    --tercery-color: rgb(226, 188, 116);/*#e2bc74*/
    --tercery-color-rgba: rgba(226, 188, 116,0.55);
    --active-color: #012e33;
    
    --color-text-on-dark: rgb(250, 250, 250);
    --color-text-on-light: var(--color-dark-contrast);
    
    /* selection */
    /* --selected-background : var(--highlight-color-on-dark) ; */
    --selected-background : rgba(1, 41, 60, 0.879);
    --selected-color : rgba(248,248,248) ;

    /* Fonts */

    --font-logo : "Bubblegum Sans", serif;
    --font-title : "Bubblegum Sans", serif;
    --font-subtitle-weight : 900;
    --font-subtitle : Lato, sans-serif;
    --font-content : Lato, sans-serif;

    
    /* buttons */
    --buttonBorderRadius:3px;
    
    /* links */
    --linkInlineBgLight: var(--highlight-color);
    
    /* pages */
    --titleTextColor: var(--highlight-color);
    --titleTextColorShadow: var(--highlight-color-shadow);
    --sectionTitleTextColor: var(--color-text-on-dark);
    --sectionTitleBackgroundColor: var(--secondary-color);

    /* header */
    --headerHeight: 6rem;
    --headerBackground: -webkit-linear-gradient(45deg, rgba(1, 41, 60, 0.884) 1%, #519f94 63%, #e2bc74 100%);
    --headerTextColor: var(--color-dark-contrast);
    
    --logoWrittenColor: var(--color-text-on-dark);
    --logoWrittenShadow: #505a5a;
    
    --headerLinksBgColor: rgba(210, 144, 0, 0.05);
    --headerLinkShadowColor: rgba(1, 28, 46, 0.9);

    --headerLinkActiveColor: #FFF;
    --headerLinkActiveShadowColor: #2e131c;
    --headerLinkActiveColorBackground: var(--highlight-color);

    --headerSocialColor: var(--color-dark-contrast);


    /* footer */
    --footerBackground: -webkit-linear-gradient(45deg, #e2bc74 1%, #519f94 63%, rgba(1, 41, 60, 0.884) 100%);
    --footerTextColor: var(--color-text-on-dark);
    --footerSocialColor: var(--color-text-on-dark);
    --footerHeight: 3rem;

    /* Menu */
    --menuWidth: 20%;/*fixed large*/
    --menuBackgroundColor: rgba(171, 66, 103,.9);
    --menuButtonCloseColor: var(--highlight-color);
    --menuButtonCloseBackgroundColor:#FFF;
    --menuButtonBurgerColor: var(--highlight-color);
    --menuTextColor: #FFF;

    --menuActiveLinkColor: var(--highlight-color);
    --menuActiveLinkBackgroundColor: #FFF;
    

    --menuButtonDownloadBackgroundColor: var(--primary-color);
    --menuButtonDownloadTextColor: #FFF;

    /* home -section */
    --sectionHomePadding:.6rem;

    --sectionHomeBackgroundColor: -webkit-linear-gradient(10deg, rgba(60, 1, 38, 0.372) 0%, rgba(1, 59, 60, 0.44) 50%, rgba(1, 41, 60, 0.228) 100%);
    --sectionHomeBackgroundColorHover: -webkit-linear-gradient(45deg, rgba(1, 41, 60, 0.509)  0%, rgba(1, 59, 60, 0.616) 50%, rgba(60, 1, 38, 0.598) 100%);

    --sectionHomeTitleTextColor: var(--highlight-color-on-dark);
    --sectionHomeTitleTextColor: rgb(250, 250, 250);

    --sectionHomeContentTextColor:rgb(235, 235, 235);
    --sectionHomeContentBackground: rgba(38, 38, 38, 0.077);
    --sectionHomeContentTextShadowColor:rgb(255, 255, 255);


    /* Resume page */
    --skillBackground: var(--primary-color);
    /* --pannelScrollBackground: var(--color-dark-contrast); */
    --pannelScrollBackground: var(--secondary-color);
    --pannelScrollLink: var(--color-text-on-dark);
    --pannelScrollLinkActive: var(--highlight-color-on-dark);
 
    --resumeItemTitleColorText: var(--secondary-color);
    --resumeItemTitleTextShadow: 0.5px 0.5px var(--secondary-color);

    --technologiesBackground: var(--color-dark-contrast);
    --technologiesColorText: var(--color-text-on-dark);

    --resumeButtonDownloadBackgroundColor: var(--highlight-color);
    --resumeButtonDownloadTextColor: #FFF;


    /* about page */

    /* animation colors */
    --aboutPhotoBackgroundColor1: rgba(171, 66, 103,0.2);
    --aboutPhotoBackgroundColor2: rgba(171, 66, 103,0.4);
    --aboutPhotoBackgroundColor3: rgba(171, 66, 103,0.5);
    --aboutPhotoBackgroundColor4: rgba(171, 66, 103,0.4);
    --aboutPhotoBackgroundColor5: rgba(171, 66, 103,0.25);
    
    --aboutTitleColorText: var(--highlight-color);
    --aboutSectionBackgroundColor: var(--tercery-color-rgba);
    --aboutSubtitleColorText: var(--primary-color);

    --aboutPassionBackgroundColor: var(--primary-color);
    --aboutPassionTextColor: var(--color-dark-contrast);

    /* Playground page */

    --playgroundProjectbackgroundColor: var(--primary-color);
    --playgroundProjectTitleTextColor: var(--color-text-on-light);
    --playgroundProjectTitleTextShadow: rgba(1, 41, 60, 0.51);
    --playgroundProjectIconLinkColor: var(--color-text-on-light);
    --playgroundProjectPurposeTextColor: var(--color-text-on-light);

}